<a href="https://colab.research.google.com/github/muyezhu/connectome/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
import pandas as pd
life_expectancy_url = 'https://drive.google.com/uc?export=download&id=14LR6y-8jR0HiSlnBjx32d_jxsq4QIeV2'
df = pd.read_csv(life_expectancy_url, header=0, skip_blank_lines=True, sep=',', quotechar='"')
df.columns
df

     Country Name Country Code  ... 2018 2019
0           Aruba          ABW  ...  NaN  NaN
1     Afghanistan          AFG  ...  NaN  NaN
2          Angola          AGO  ...  NaN  NaN
3         Albania          ALB  ...  NaN  NaN
4         Andorra          AND  ...  NaN  NaN
..            ...          ...  ...  ...  ...
259        Kosovo          XKX  ...  NaN  NaN
260   Yemen, Rep.          YEM  ...  NaN  NaN
261  South Africa          ZAF  ...  NaN  NaN
262        Zambia          ZMB  ...  NaN  NaN
263      Zimbabwe          ZWE  ...  NaN  NaN

[264 rows x 64 columns]

In [23]:
df.index
df['1980']

0      72.293
1      43.244
2      44.178
3      70.208
4         NaN
        ...
259       NaN
260    48.532
261    58.107
262    52.802
263    59.731
Name: 1980, Length: 264, dtype: float64